[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.12.1"
django = "==6.1"
djangorestframework = "==3.18.0"
djangorestframework-simplejwt = "==5.5.1"
psycopg2-binary = "==2.9.12"
pyjwt = "==2.13.0"
python-dotenv = "==1.2.2"
sqlparse = "==0.5.5"
tzdata = "==2026.3"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.13"
